body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h1 {
    line-height: 1.278em;
    margin-bottom: 0.583em;
}

.logo {
    background: url("../img/cloudcms-icon.png") no-repeat scroll 0 0 transparent;
    padding: 5px 10px 5px 30px;
}

.dashlet {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

footer p {
    text-align: center;
}